# Nutella
config.json
runlist.json
broker/
.tmp/
.pid

# Test project
test_project/

# Jeweler / Gem / Bundler/ Coverage
pkg/
coverage/
rdoc/
doc/
.yardoc
.bundle
Gemfile.lock

# Mac crap
.DS_Store
.idea