# nutella
config.json
runlist.json
broker/
.tmp/
.pid
.mongo_pid
*.log

# Test app
test_app/

# Jeweler / Gem / Bundler/ Coverage
pkg/
coverage/
rdoc/
doc/
.yardoc
.bundle
Gemfile.lock
spec/examples.txt

# Mac crap
.DS_Store
.idea