//Override Variables in scaffolding.less

.save-button  {
  button {
    background-color: @cyan-500;
  }
}
.undo-button {
  button {
    background-color: @pink-300;
  }
}
.mui-is-current-selected {
  color: black;
  font-size: 1.5em;
}
.mui-right-nav {
  .mui-right-nav-menu {
    z-index: 300 !important;
  }
  .mui-overlay {
    z-index: 250
  }
}

// Disables ripples to allow dragging
.tabs-button {
  .mui-floating-action-button {
    &:hover {
      cursor: pointer;
    }
    &:hover .mui-floating-action-button-inner .mui-floating-action-button-container {
      background-color: darken(@pink-300, 30);
    }
    .mui-floating-action-button-inner {
      pointer-events: none;
    }
  }
}
.reload-button {
  .mui-floating-action-button {
    &:hover {
      cursor: pointer;
    }
    &:hover .mui-floating-action-button-inner .mui-floating-action-button-container {
      background-color: darken(@cyan-300, 30);
    }
    .mui-floating-action-button-inner {
      pointer-events: none;
    }
  }
}

